<div class="panel panel-default">
    <!-- HEADING -->
    <div class="panel-heading">
        <h3 class="panel-title">
            Estadisticas
        </h3>
    </div>
    <!-- BODY -->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 text-left">Imagenes: </div>
            <div class="col-md-10 text-right">
                {{sidebar.stats.images}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Comentarios: </div>
            <div class="col-md-10 text-right">
                {{sidebar.stats.comments}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Vistas: </div>
            <div class="col-md-10 text-right">
                {{sidebar.stats.views}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-left">Me Gusta: </div>
            <div class="col-md-10 text-right">
                {{sidebar.stats.likes}}
            </div>
        </div>
    </div>  
</div>